extends layout

block content
  h1 Lobby
  button#createRoom(type="submit") Create Room
  
  input#roomName(type="text", style="width: 100px", hidden="true", placeholder="Enter Room Name Here...")
 
  p 
  label(for="userName") User name: (Hit Enter) 
  input#userName(type="text", size="30")
  span#feedback

  p
  div#userWindow.shadow
  div#msgWindow.shadow

  p
  div
    br
    table
      tr
        td
          input#msg(type="text", style="width: 600px", disabled="true")
        td
          button#send(type="submit") Send Message